p {
  background-color: green;
}

img {
  display: block;
}

.collection .collection-item {
  padding: 0px;
  /*background-color: yellow;*/
}

.row {
  margin: 0px;
}

.row .col {
  padding: 0px;
}

img.responsive-img {
  height: 174px;
  width: 470px;
}
